body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #00b4d8, #0077b6);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 700px;
}

header h1{
    font-size: 2em;
    margin-bottom: 10px;
}

header p{
    font-size: 1.1em;
    margin-bottom: 30px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.link-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 25px 40px;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.link-card i {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #ffd60a;
}

.link-card:hover {
    background: rgba(255, 255, 255, 0.35);
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.link-card.fish i{
    color: #90e0ef;
}

.link-card.cv i{
    color: #ffd60a;
}

footer {
    margin-top: 40px;
    font-size: 0.9em;
    opacity: 0.8;
}